In [ ]:
# import libraries
import wbdata
import pandas as pd

# World Bank Indicator Codes
- These are official World Bank API indicators:
-  **SP.POP.TOTL**	Total population of a country
-  **SM.POP.NETM**	Net migration (immigrants − emigrants)
-  This dictionary is typically used to fetch data from the World Bank API

In [3]:
# Load the data
indicator = {
    'SP.POP.TOTL': 'total_population',  # Population
    'SM.POP.NETM': 'net_migration'     # Net Migration
}
data = wbdata.get_dataframe(indicator)
data.reset_index(inplace=True)
data

                           country  date  total_population  net_migration
0      Africa Eastern and Southern  2024       769280888.0      -670014.0
1      Africa Eastern and Southern  2023       750491370.0      -989975.0
2      Africa Eastern and Southern  2022       731821393.0      -220428.0
3      Africa Eastern and Southern  2021       713090928.0       187508.0
4      Africa Eastern and Southern  2020       694446100.0       340127.0
...                            ...   ...               ...            ...
17285                     Zimbabwe  1964         4320006.0        -9631.0
17286                     Zimbabwe  1963         4185877.0        -8936.0
17287                     Zimbabwe  1962         4055959.0        -8529.0
17288                     Zimbabwe  1961         3930401.0        -8204.0
17289                     Zimbabwe  1960         3809389.0        -8260.0

[17290 rows x 4 columns]

In [4]:
data.info()

<class 'wbdata.client.DataFrame'>
RangeIndex: 17290 entries, 0 to 17289
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country           17290 non-null  object
 1   date              17290 non-null  object
 2   total_population  17195 non-null  float64
 3   net_migration     17225 non-null  float64
dtypes: float64(2), object(2)
memory usage: 540.4+ KB

In [5]:
data.rename(columns={'country': 'Country', 'date': 'Year'}, inplace=True)
data['Year'] = pd.to_numeric(data['Year'])
data = data[(data['Year'] >= 1960) & (data['Year'] <= 2025)]
data

                           Country  Year  total_population  net_migration
0      Africa Eastern and Southern  2024       769280888.0      -670014.0
1      Africa Eastern and Southern  2023       750491370.0      -989975.0
2      Africa Eastern and Southern  2022       731821393.0      -220428.0
3      Africa Eastern and Southern  2021       713090928.0       187508.0
4      Africa Eastern and Southern  2020       694446100.0       340127.0
...                            ...   ...               ...            ...
17285                     Zimbabwe  1964         4320006.0        -9631.0
17286                     Zimbabwe  1963         4185877.0        -8936.0
17287                     Zimbabwe  1962         4055959.0        -8529.0
17288                     Zimbabwe  1961         3930401.0        -8204.0
17289                     Zimbabwe  1960         3809389.0        -8260.0

[17290 rows x 4 columns]

In [6]:
data.info()

<class 'wbdata.client.DataFrame'>
RangeIndex: 17290 entries, 0 to 17289
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           17290 non-null  object
 1   Year              17290 non-null  int64
 2   total_population  17195 non-null  float64
 3   net_migration     17225 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 540.4+ KB

# Net Migration Values
- Positive → more people entering the country(immigrants)
- Negative → more people leaving the country(emigrants)